---
layout: default
body_id: payntchronicles
permalink: /payntchronicles
---

<section class="hero">


    <h1 class="editable"><span>@Bstract presents:</span> <br />The Paynt Chronicles</h1>

    <div class="gallery">

      {% include picture-frame.html
        artwork="/assets/img/works/animated/five.gif"
      %}
      {% include picture-frame.html
        artwork="/assets/img/works/animated/five.gif"
      %}
      {% include picture-frame.html
        artwork="/assets/img/works/animated/five.gif"
      %}
      {% include picture-frame.html
        artwork="/assets/img/works/animated/five.gif"
      %}
      {% include picture-frame.html
        artwork="/assets/img/works/animated/five.gif"
      %}

    </div>
    <div class="container">
      <p class="lead editable">A collection of animated NFTs with a twist: collectors of a full row of five Paynt Chronicles NFTs will receive xyz...</p>
      <p class="lead editable">Something something Paynt Chronicles something else. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. </p>
    </div>



</section>

<section>
 <div class="container">
   <p>The Paynt Chronicals is a series of interconnected animations, each split between 5 original @Bstract pieces of Art. Once a collector owns a complete set of 5, I will then create them their own Bstract Art Collection named after them, They will also collect part of all future royalties on the pieces in their named collection.</p>
   <p>A named collection will only be given to the first collector of each set of 5, meaning there are only 10 named collections available. </p>

   <p>To complete a set you will only need the middle “scene” painting, The other 4 pieces can be used from any set as long as the animation can still be completed, i.e Two figures walking from both sides meeting in the middle piece. </p>

 </div>
</section>
