---
layout: default
body_id: payntchronicles
permalink: /payntchronicles
---

<section class="payntchronicles-intro">

    <h1 class="editable"><span>@Bstract presents:</span> <br />The Paynt Chronicles</h1>

    <div class="gallery">

      {% include picture-frame.html
        artwork="/assets/img/works/animated/date/1-far-left.gif"
      %}
      {% include picture-frame.html
        artwork="/assets/img/works/animated/date/2-mid-left.gif"
      %}
      {% include picture-frame.html
        artwork="/assets/img/works/animated/date/3-centre.gif"
      %}
      {% include picture-frame.html
        artwork="/assets/img/works/animated/date/4-mid-right.gif"
      %}
      {% include picture-frame.html
        artwork="/assets/img/works/animated/date/5-far-right.gif"
      %}

    </div>
    <div class="container">
      <p class="lead editable subheading">The Concept</p>
      <p class="lead editable">The Paynt Chronicals is a series of interconnected animations, each split between five original @Bstract pieces of art.</p>
    </div>



</section>

<section>

 <div class="container">

   <div class="offset-flex">

     <div class="offset-flex-intro">
       <h3 class="editable">The Paynt Chronicles Rewards</h3>
       <p class="editable">The Paynt Chronicals is a series of interconnected animations, each split between 5 original @Bstract pieces of Art. Once a collector owns a complete set of 5, I will then create them their own Bstract Art Collection named after them, They will also collect part of all future royalties on the pieces in their named collection.</p>
       <p class="editable">A named collection will only be given to the first collector of each set of 5, meaning there are only 10 named collections available. </p>
       <p class="editable">To complete a set you will only need the middle “scene” painting, The other 4 pieces can be used from any set as long as the animation can still be completed, i.e Two figures walking from both sides meeting in the middle piece. </p>
       <div class="button-block">
         <a class="button icon-button editable" href="https://opensea.io/collection/ice-dance-1" target="_blank">View on OpenSea<span class="icon-wrapper"><i>&#x279E;</i></span></a>
       </div>
     </div>
     <div class="offset-flex-images">
       <div class="picture-frame">
         <div class="frame-border">
           <div class="mat-board">
             <img class="framed-image editable" src="/assets/img/works/animated/date/3-centre.gif" alt="@Bstract animated artwork" />
           </div>
         </div>
       </div>
       <div class="picture-frame">
         <div class="frame-border">
           <div class="mat-board">
             <img class="framed-image editable" src="/assets/img/works/animated/kiss/3-centre.gif" alt="@Bstract animated artwork" />
           </div>
         </div>
       </div>
     </div>
   </div>




 </div>
</section>
