<footer class="site-footer">
  <div class="container">
    <div class="footer-nav">
      <div class="footer-brand">
        <img class="light-mode-logo" src="/assets/img/logoGrey.svg" alt="@Bstract logo" />
      </div>
      <div class="nav-container">
        {% include header-links.html %}
      </div>
    </div>

    <div class="final-word">
      <p>&copy; @Bstract, 2021 and beyond...</p>
      <p class="small">Website by <a href="https://sjam.studio" target="_blank">SJAM</a></p>
    </div>

  </div>
</footer>
