<header class="site-header">
  <div class="brand">
    <a href="/">
      <img class="light-mode-logo" src="/assets/img/logoAbstract.svg" alt="@Bstract logo" />
      <img class="dark-mode-logo" src="/assets/img/logoWhite.svg" alt="@Bstract logo" />
    </a>
  </div>
  <div class="lightswitch-wrapper">
    <span><span id="light-mode-label">Light</span> mode: <i id="lightswitch" class="fas fa-magic"></i></span>
  </div>
  <div class="header-links">
    <nav>
      <ul class="list-inline">
        <li><a href="https://opensea.io/collection/ice-dance-1" target="_blank">OpenSea</a></li>
        <li><a href="https://twitter.com/Bstract_Art" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://discord.gg/mqU6vJxcCw" target="_blank"><i class="fab fa-discord"></i></a></li>
        <li><a href="https://www.instagram.com/bstractart/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
