<div class="all-links">
  <nav>
    <ul>
      <div class="links-self">
        <li><a href="/payntchronicles">The Paynt Chronicles<span class="icon-wrapper mobile-nav-label"><i class="fas fa-arrow-right"></i></span></a></li>
        <li><a href="/#theoriginals">The Originals<span class="icon-wrapper mobile-nav-label"><i class="fas fa-arrow-down"></i></span></a></li>
        <li><a href="/#foundationcollection">The Foundation Collection<span class="icon-wrapper mobile-nav-label"><i class="fas fa-arrow-down"></i></span></a></li>
        <li><a href="#thecollabs">The Collabs<span class="icon-wrapper mobile-nav-label"><i class="fas fa-arrow-down"></i></span></a></li>
        <li><a href="/roadmap">The Roadmap<span class="icon-wrapper mobile-nav-label"><i class="fas fa-arrow-right"></i></span></a></li>
      </div>
      <div class="links-blank">
        <li><a href="https://www.instagram.com/bstractart/" target="_blank"><span class="mobile-nav-label">Instagram</span><span class="icon-wrapper"><i class="fab fa-instagram"></i></span></a></li>
        <li><a href="https://twitter.com/Bstract_Art" target="_blank"><span class="mobile-nav-label">Twitter</span><span class="icon-wrapper"><i class="fab fa-twitter"></i></span></a></li>
        <li><a href="https://discord.gg/mqU6vJxcCw" target="_blank"><span class="mobile-nav-label">Discord</span><span class="icon-wrapper"><i class="fab fa-discord"></i></span></a></li>
        <li><a href="https://opensea.io/collection/ice-dance-1" target="_blank">OpenSea<span class="icon-wrapper mobile-nav-label"><i class="fas fa-arrow-up rotate-icon-45"></i></span></a></li>
        <li><a href="https://foundation.app/@BstractArt" target="_blank">Foundation<span class="icon-wrapper mobile-nav-label"><i class="fas fa-arrow-up rotate-icon-45"></i></span></a></li>
      </div>
    </ul>
  </nav>
</div>
