<header class="site-header">

  <div class="brand">
    <a href="/">
      <img class="light-mode-logo" src="/assets/img/logoWhite.svg" alt="@Bstract logo" />
    </a>
    <button class="menu-toggle">
      <span class="button-text">Explore</span>
      <div class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </button>
  </div>

  <div class="nav-container">
    {% include header-links.html %}
  </div>

</header>
