.bg {
  background: $background;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $column-width;
  @include for-tablet-landscape-up {
    padding: 0 1.5rem;
  };
}
.button-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include for-tablet-portrait-up {
    margin-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.button {
  color: $text-color;
  text-decoration: none;
  background: #e6e2f1;
  padding: 5px 8px;
  border: 1px solid #e6e2f1;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    border-color: darken(#e6e2f1, 15%);
  }
}
.icon-button {
  padding-right: 3px;
  .icon-wrapper {
    display: inline-block;
    width: 2em;
    text-align: left;
    i {
      margin-left: 8px;
      transition: 0.4s ease;
      font-style: normal;
    }
  }
  &:hover {
    text-decoration: none;
    border-color: darken(#f2e9ff, 15%);
    .icon-wrapper {
      i {
        margin-left: 11px;
      }
    }
  }
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.picture-frame {
  --blur: 2px;
  flex: 1 1 100%;
  max-width: 90vw;
  margin: 0 auto 2rem;
  .frame-border, .mat-board, img {
    aspect-ratio: 1;
  }
  .frame-border {
    position: relative;
    padding: 9px;
    background: black;
    background-image: linear-gradient(to right bottom, #5D5D5B, #383838 20%);
    box-shadow:
      1px 1px var(--blur) 1px rgba(0,0,0,0.10),
      2px 2px var(--blur) 1px rgba(0,0,0,0.09),
      3px 3px var(--blur) 1px rgba(0,0,0,0.08),
      4px 4px var(--blur) 1px rgba(0,0,0,0.07),
      5px 5px var(--blur) 1px rgba(0,0,0,0.06),
      6px 6px var(--blur) 1px rgba(0,0,0,0.05),
      7px 7px var(--blur) 1px rgba(0,0,0,0.04),
      8px 8px var(--blur) 1px rgba(0,0,0,0.03),
      9px 9px var(--blur) 1px rgba(0,0,0,0.03),
      10px 10px var(--blur) 1px rgba(0,0,0,0.03),
      11px 11px var(--blur) 1px rgba(0,0,0,0.03),
      12px 12px var(--blur) 1px rgba(0,0,0,0.02),
      13px 13px var(--blur) 1px rgba(0,0,0,0.02),
      14px 14px var(--blur) 1px rgba(0,0,0,0.01),
      15px 15px var(--blur) 1px rgba(0,0,0,0.01),
      16px 16px var(--blur) 1px rgba(0,0,0,0.01);
  }
  .mat-board {
    box-shadow: inset -1px 1px 6px 1px rgba(0,0,0,0.24);
    width: 100%;
    background: #fff;
    padding: 18px;
  }
  .framed-image {
    margin: 0;
  }
}

.labelled-frame {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  margin-bottom: 2rem;
  @include for-tablet-portrait-up {
    flex-direction: row;
  };
  .picture-frame {
    margin-bottom: 0;
  }
}

.frame-label {
  padding: 1rem;
  background: #fff;
  display: block;
  text-decoration: none;
  border: 1px solid #f3f3f3;
  border-bottom-color: #e7e7e7;
  flex: 0 0 auto;
  margin: 1.2rem auto 0;
  text-align: center;
  &:hover {
    border-color: #000;
  }
  h2 {
    color: $text-color;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: $base-font-family;
    font-weight: $base-font-weight
  }
  p {
    font-size: 0.75rem;
    margin-bottom: 0;
    text-align: center;
  }
}

.left-labelled {
  .frame-label {
    @include for-tablet-portrait-up {
      flex: 0 0 170px;
      margin-top: 0;
      margin-right: 10px;
      position: sticky;
      top: 60px;
    };
  }
}

.bottom-labelled {
  justify-content: flex-start;
  flex-direction: column-reverse;
  .frame-label {
    h2 {
      font-size: 1rem;
    }
  }
}

.collaboration {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 2rem;
  &:last-child {
    border-bottom: none;
  }
  @include for-tablet-portrait-up {
    flex-wrap: nowrap;
    gap: 4rem;
    margin-bottom: 4rem;
  };
  .collaboration-intro {
    flex: 0 0 100%;
    @include for-tablet-portrait-up {
      flex: 0 1 50%;
      position: sticky;
      top: 80px;
    };
  }
  .collaboration-images {
    max-width: 100%;
    @include for-tablet-portrait-up {
      max-width: 50%;
    };
    @include for-tablet-landscape-up {
      max-width: 55%;
    };
  }
}
.collaboration-alternate {
  @include for-tablet-portrait-up {
    flex-direction: row-reverse;
  };
}
