// =======================================
//  Global helpers
// =======================================
.phones-only {
  @include for-tablet-portrait-up {
    display: none;
  };
}
.flex {
  display: flex;
}
.small {
  font-size: $small;
}
.lead {
  font-size: 1.2rem;
  max-width: 700px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.list-inline {
  list-style: none;
  li {
    display: inline-block;
  }
}
.rotate-icon-45 {
  transform: rotate(45deg);
}
