.light-mode {

  // Header

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: rgba(45,25,58,1);
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: rgba(45,25,58,1) }

  // Body

  background: #fff;
  color: $dark-grey;
  a {
    color: $dark-grey;
  }
  #ice-dance-collection {
    a {
      color: $text-color;
    }
  }
}
