.hero {
  padding: 3rem 0;
}
.lead {
  font-size: 1.5rem;
  max-width: 100%;
}
#ice-dance-collection {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  li {
    background: #071b2f;
    flex: 0 1 100%;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,0.25), 0 18px 36px -18px rgba(31,180,210,0.5);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 2rem;
    @include for-tablet-portrait-up {
      flex: 0 1 48%;
      margin-bottom: 3rem;
    };
    @include for-tablet-landscape-up {
      flex: 0 1 22.5%;
      margin-bottom: 4rem;
    };
  }
  img {
    width: 100%;
    margin: 0;
  }
  .card-info {
    padding: 10px 10px 1rem 10px;
  }
  h2 {
    color: $text-color;
    font-size: 1.175rem;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 0;
    font-size: 0.75rem;
    text-align: right;
  }
}
