.bg {
  background: $background;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}
.hero {
  text-align: center;
  padding: 0 0 3rem 0;
  @include for-tablet-portrait-up {
    padding-bottom: 5rem;
  };
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 1em;
    @include for-tablet-portrait-up {
      font-size: 3.25rem;
    };
    span {
      font-size: 1.25rem;
      font-weight: 400;
      @include for-tablet-portrait-up {
        font-size: 2rem;
      };
    }
  }
  a {
    text-decoration: none;
    transition: 0.4s ease;
    &:hover {
      text-decoration: underline wavy;
    }
  }
}
.gallery-wall {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.frame-wrapper {
  flex: 0 0 100%;
  margin-bottom: 4rem;
  @include for-tablet-portrait-up {
    flex: 0 1 auto;
    margin-bottom: 2rem;
  };
  --blur: 2px;
  .frame-border {
    position: relative;
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
    background: black;
    background-image: linear-gradient(to right bottom, #5D5D5B, #383838 20%);
    padding: 7px;
    box-shadow:
      1px 1px var(--blur) 1px rgba(0,0,0,0.10),
      2px 2px var(--blur) 1px rgba(0,0,0,0.09),
      3px 3px var(--blur) 1px rgba(0,0,0,0.08),
      4px 4px var(--blur) 1px rgba(0,0,0,0.07),
      5px 5px var(--blur) 1px rgba(0,0,0,0.06),
      6px 6px var(--blur) 1px rgba(0,0,0,0.05),
      7px 7px var(--blur) 1px rgba(0,0,0,0.04),
      8px 8px var(--blur) 1px rgba(0,0,0,0.03),
      9px 9px var(--blur) 1px rgba(0,0,0,0.03),
      10px 10px var(--blur) 1px rgba(0,0,0,0.03),
      11px 11px var(--blur) 1px rgba(0,0,0,0.03),
      12px 12px var(--blur) 1px rgba(0,0,0,0.02),
      13px 13px var(--blur) 1px rgba(0,0,0,0.02),
      14px 14px var(--blur) 1px rgba(0,0,0,0.01),
      15px 15px var(--blur) 1px rgba(0,0,0,0.01),
      16px 16px var(--blur) 1px rgba(0,0,0,0.01);
    @include for-tablet-portrait-up {
      width: 30vw;
      height: 30vw;
      max-width: 320px;
      max-height: 320px;
    };
    @include for-tablet-landscape-up {
      width: 25vw;
      height: 25vw;
      max-width: 320px;
      max-height: 320px;
    };
    &:before{
      content: ' ';
      display: block;
      padding-bottom: 140%;
    }
  }
  .picture-frame{
    left: 3%;
    top: 2.5%;
    box-shadow: inset -1px 1px 6px 1px rgba(0,0,0,0.24);
    width: 94%;
    height: 95%;
    background: white;
    align-items: center;
    display: flex;
    padding: 18px;
    box-sizing: border-box;
    position: absolute;
  }
  .frame-image {
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .frame-label {
    background: #faf4f2;
    width: fit-content;
    font-weight: 400;
    margin: 1.75rem auto 0;
    padding: 10px 0;
    font-size: 1rem;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.02),
                1px 1px 2px 1px rgba(0,0,0,0.07);
    &::before,
    &::after {
      content: "\00B7";
      opacity: 30%;
    }
    &::before {
      margin: 0 1.25rem 0 0.5rem;
    }
    &::after {
      margin: 0 0.5rem 0 1.25rem;
    }
  }
}

.collection {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  .collection-intro-wrapper {
    flex: 0 0 100%;
    @include for-tablet-landscape-up {
      flex: 0 1 37%;
    };
  }
  .collection-intro {
    position: sticky;
    top: 5rem;
    padding-bottom: 1rem;
    .subheading {
      text-transform: uppercase;
      font-size: 0.875rem;
      letter-spacing: 1px;
      margin-bottom: 0;
    }
  }
  .collection-content {
    flex: 0 0 100%;
    @include for-tablet-landscape-up {
      flex: 0 1 62%;
      padding-left: 5rem;
    };
  }
}
.works-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  li {
    flex: 0 1 100%;
    border-radius: 2px;
    margin-bottom: 4rem;
    @include for-tablet-portrait-up {

    };
  }
  a {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
    flex-wrap: wrap;
    @include for-tablet-landscape-up {
      justify-content: space-between;
      flex-wrap: nowrap;
    };
  }
  .img-wrapper {
    max-width: 448px;
    flex: 0 0 100%;
    margin: 0 10px 0 0;
    @include for-tablet-portrait-up {
      flex: 0 2 448px;
    };
  }
  img {
    max-width: 100%;
    min-width: 0;
    margin: 0;
  }
  .card-info {
    flex: 0 0 170px;
    padding: 1rem;
    background: #fff;
    margin-top: 10px;
    @include for-tablet-portrait-up {
      margin-top: 0;
    };
  }
  .card-info-sticky {
    position: sticky;
    top: 80px;
  }
  h2 {
    color: $text-color;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: $base-font-family;
    font-weight: $base-font-weight
  }
  p {
    font-size: 0.75rem;
    // text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
  }
}

.collection-gallery {
  padding-top: 6rem;
  .works-list {
    align-items: flex-start;
    li {
      @include for-tablet-portrait-up {
        flex: 0 1 48%;
      };
    }
    a {
      align-items: flex-start;
    }
    @include for-tablet-landscape-up {
      li:nth-child(2) {
          margin-top: 10rem;
          margin-bottom: 10rem;
      }
      li:nth-child(3), li:nth-child(4), li:nth-child(5) {
          flex: 0 1 32%;
          .card-info {
            flex: 0 0 120px;
            padding: 12px 8px;
          }
          h2 {
            font-size: 0.8rem;
            margin-bottom: 8px;
          }
          p {
            font-size: 0.5rem;
          }
      }
      li:nth-child(3) {
          margin-top: 130px;
        a {
          align-items: flex-end;
          flex-direction: row-reverse;
          img {
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }
      li:nth-child(4), li:nth-child(5) {
        a {
          flex-wrap: wrap;
          .img-wrapper {
            flex: 0 0 100%;
            margin-bottom: 10px;
          }
        }
      }
      li:nth-child(5) {
          margin-top: 130px;
          margin-bottom: 6rem;
          a {
            justify-content: flex-end;
            img {
              margin-left: 10px;
              margin-right: 0;
            }
          }
      }
      li:nth-child(6) {
          margin-top: 5rem;
      }
      li:nth-child(7) {

          margin-top: 5rem;

        a {
          align-items: flex-end;
          flex-direction: row-reverse;
          img {
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }
    }

  }
}

#theoriginals, #theoneoffs, #thecollabs {
  padding: 3rem 0;
  @include for-tablet-portrait-up {
    padding: 5rem 0;
  };
  @include for-tablet-portrait-up {
    padding: 8rem 0;
  };
}

#theoriginals {
  background-color: #fff;
  background: linear-gradient(#fde7ea, #f1f1f9);
  background-size: cover;
}
#originals-list-1 {
  li:nth-child(2) > a {
    align-items: flex-start;
    flex-direction: row-reverse;
    img {
      margin-right: 0;
      margin-left: 10px;
    }
  }
  li:nth-child(3) > a {
    align-items: flex-start;
  }
}

#theoneoffs {
  background-color: #fff;
  background: linear-gradient(#fde7ea, rgba(251,233,227,1));
  background-size: cover;
  .collection {
    justify-content: flex-start;
    flex-direction: column-reverse;
    @include for-tablet-portrait-up {
      flex-direction: row;
    };
  }
  .collection-content {
    flex: 0 1 58%;
    padding-left: 0;
    padding-right: 2rem;
  }
  .card-info {
    margin-bottom: 10px;
    @include for-tablet-portrait-up {
      margin-bottom: 0;
    };
  }
  li {
    margin-bottom: 4rem;
  }
  li:nth-child(n+2) > a {
    align-items: flex-start;
  }
}

#thecollabs {
  background: #d3f0f5;
  background: linear-gradient(#d3f0f5, rgba(251,233,227,1));
  .collection {
    flex-wrap: wrap;
  }
  .collection-intro-wrapper {
    text-align: center;
    flex: 0 0 100%;
    p {
      margin: auto;
    }
  }
  .collection-content {
    padding-left: 0;
    margin: 0 auto;
  }
  .gallery-wall {
    padding-top: 4rem;
  }
}

.aerial-callout {
  background: #353336;
  color: #efeae1;
  .aerial-banner {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .aerial-logo-wrapper {
    max-width: 200px;
    flex: 0 0 100%;
    @include for-tablet-landscape-up {
      flex: 0 1 auto;
    };
  }
  .aerial-content {
    border-top: $border;
    padding: 1rem;
    @include for-tablet-landscape-up {
      border-top: none;
      border-left: $border;
      padding-left: 2rem;
    };
    p {
      margin-bottom: 0;
    }
  }
}
